<h1 class="text-5xl font-bold text-white tracking-tight">
    Welcome to my <span class="text-[#fb8e81]">Dalamud</span> Plugin List
</h1>

<p class="pt-4">
    I got tired of the clutter of having 15+ plugin repositories saved in Dalamud and not knowing what
    plugins comes from which repository, some plugins also exists in multiple repositories which then
    show up multiple times in the plugin list. So I made this small project to help some friends and
    myself keep track of what plugins comes from where.
</p>

<p>
    The list itself is a collection of
    <span class="font-bold text-indigo-100">{{ RepositoryCount }}</span>
    different repositories, combined providing access to
    <span class="font-bold text-indigo-100">{{ PluginsTotalCount }}</span>
    plugins within a single repository, including
    <span class="font-bold text-indigo-100">{{PluginsSenitherCount}}</span>
    of my own plugins. The list is then updated once an hour to check for updates, this makes it possible to have a
    single plugin repository in Dalamud and still get updates from all the different repositories.
</p>
