<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dalamud Plugin Listing</title>
    <link href="/assets/styles.css?id={{StyleHash}}" rel="stylesheet">
</head>

<body class="bg-gray-950 bg-grid-pattern text-slate-50">
    {{ embed() }}

    <footer class="max-w-6xl mx-auto px-6 pt-10 pb-16 text-center text-gray-500">
        <p>
            Made for fun by
            <a href="https://senither.com/" target="_blank" class="font-semibold text-gray-400 hover:text-indigo-400">Senither</a>
            using
            <a href="https://go.dev/" target="_blank" class="font-semibold text-gray-400 hover:text-indigo-400">Go</a>,
            <a href="https://gofiber.io/" target="_blank" class="font-semibold text-gray-400 hover:text-indigo-400">Fiber</a>,
            <a href="https://tailwindcss.com/" target="_blank" class="font-semibold text-gray-400 hover:text-indigo-400">TailwindCSS</a> and
            <a href="https://htmx.org/" target="_blank" class="font-semibold text-gray-400 hover:text-indigo-400">HTMX</a>.
        </p>
    </footer>
</body>

</html>
