<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dalamud Plugin Listing</title>
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="/assets/styles.css?id=@file-hash" rel="stylesheet">

    <script>
        async function loadRepositories() {
            const response = await fetch('/', {
                headers: {
                    'Accept': 'application/json'
                }
            })

            return (await response.json())
                .sort((a, b) => a.Name.localeCompare(b.Name))
        }

        setTimeout(() => {
            document.getElementById('repo-url').innerText = window.location.href
        }, 1)
    </script>
</head>

<body class="bg-gray-950 text-slate-50" x-data="{
    filteredRepositories() {
        if (this.query.trim().length === 0) {
            return this.repositories
        }

        let query = this.query.toLowerCase().trim()

        return this.repositories.filter(repo => {
            return repo.Name.toLowerCase().includes(query) ||
                repo.Author.toLowerCase().includes(query) ||
                repo.Description?.toLowerCase().includes(query) ||
                repo.Punchline?.toLowerCase().includes(query)
        })
    },
    repositories: [],
    query: '',
}" x-init="repositories = await loadRepositories()">
    <div class="px-4 py-12 container max-w-5xl mx-auto">
        <div class="flex flex-col prose prose-invert max-w-full">
            <header class="mb-6">
                <h1>
                    Welcome to my <span class="text-[#fb8e81]">Dalamud</span> Plugin List
                </h1>

                <p>
                    I got tired of the clutter of having 15+ plugin repositories saved in Dalamud and not knowing what
                    plugins comes from which repository, some plugins also exists in multiple repositories which then
                    show up multiple times in the plugin list. So I made this small project to help some friends and
                    myself keep track of what plugins comes from where.
                </p>

                <p>
                    The list itself is a collection of <span class="font-bold text-indigo-100">@state-url-size</span>
                    different repositories, combined providing access to
                    <span class="font-bold text-indigo-100">@state-repo-size</span> plugins within a single repository.
                    The list is then updated once an hour to check for updates, this makes it possible to have a single
                    plugin
                    repository in Dalamud and still get updates from all the different repositories.
                </p>

                <h2>FAQ</h2>

                <div class="flex flex-col gap-4">
                    <div class="px-4 py-1 bg-gray-900/20 border border-gray-900 rounded">
                        <details>
                            <summary>
                                <span class="cursor-pointer">
                                    Can I use this plugin list too?
                                </span>
                            </summary>

                            <p>Ofcourse! You can add this repository to Dalamud by following the steps below:</p>

                            <ul>
                                <li>Open Dalamud's settings (<code>/xlsettings</code>)</li>
                                <li>Click on the <code>Experimental</code> tab</li>
                                <li>Scroll Down to <code>Custom Plugin Repositories</code></li>
                                <li>
                                    Add the following URL: <code id="repo-url"></code>, then click on the Plus next to
                                    it
                                </li>
                                <li>Click on the Save icon in the bottom right corner</li>
                            </ul>
                        </details>
                    </div>

                    <div class="px-4 py-1 bg-gray-900/20 border border-gray-900 rounded">
                        <details>
                            <summary>
                                <span class="cursor-pointer">
                                    Where is Mare, Penumbra, Glamourer, ...etc?
                                </span>
                            </summary>
                            <p>
                                Mare Synchronos and some related plugins only works when they're installed from their
                                original repository list, if you'd like to use those plugins you should add the
                                official repository url.
                                <br>
                                <br>
                                <code>https://raw.githubusercontent.com/Ottermandias/SeaOfStars/main/repo.json</code>
                            </p>
                        </details>
                    </div>
                </div>
            </header>

            <section class="mb-8">
                <h2>Available Plugins</h2>
                <input type="text" x-model="query"
                    class="mx-4 px-3 py-1 w-full bg-gray-950 focus:bg-slate-950 placeholder:italic placeholder:text-slate-400 border border-gray-800 focus:outline-none focus:border-indigo-700 rounded"
                    placeholder="Search for plugins here...">
            </section>

            <section class="grid grid-cols-1 md:grid-cols-2 gap-8 divide-y divide-dashed">
                <template x-for="repo in filteredRepositories()">
                    <div class="flex flex-col justify-between px-4 py-3 bg-gray-900 border border-gray-800 rounded">
                        <div>
                            <div class="flex">
                                <img class="my-0 w-12 h-12 rounded-sm shadow" x-bind:src="repo.IconUrl" alt=""
                                    onerror="this.src = '/assets/not-found.svg'" loading="lazy">
                                <div class="ml-4 flex flex-col">
                                    <h4 class="mt-1 mb-0" x-text="repo.Name"></h4>
                                    <p class="-mt-2 my-0">v<span x-text="repo.AssemblyVersion"></span></p>
                                </div>
                            </div>
                            <div class="place-self-start">
                                <p>Created by <span x-text="repo.Author"></span></p>
                                <p x-text="repo.Description.length > 0 ? repo.Description : repo.Punchline"></p>
                            </div>
                        </div>

                        <div class="flex justify-between items-end">
                            <a target="blank" x-bind:href="repo.RepoUrl"
                                class="text-indigo-400 hover:text-indigo-300">Repository</a>

                            <template x-if="repo.OriginRepositoryUrl.IsInternalPlugin">
                                <span
                                    class="px-2 py-1 bg-gray-800 text-sm opacity-40 hover:opacity-75 transition-opacity rounded">
                                    Internal plugin
                                </span>
                            </template>
                            <template x-if="!repo.OriginRepositoryUrl.IsInternalPlugin">
                                <a target="blank" x-bind:href="repo.OriginRepositoryUrl.RepositoryUrl"
                                    class="text-indigo-400 hover:text-indigo-300">Origin Repository List</a>
                            </template>
                        </div>
                    </div>
                </template>
            </section>

            <footer class="mt-8 flex items-center justify-center opacity-65">
                <p>
                    Made for fun by
                    <a href="https://senither.com/" target="_blank" class="hover:text-indigo-400">Senither</a>
                    using
                    <a href="https://go.dev/" target="_blank" class="hover:text-indigo-400">Go</a>,
                    <a href="https://tailwindcss.com/" target="_blank" class="hover:text-indigo-400">TailwindCSS</a> and
                    <a href="https://alpinejs.dev/" target="_blank" class="hover:text-indigo-400">AlpineJS</a>.
                </p>
            </footer>
        </div>
    </div>
</body>

</html>
