name: Build and Push Images

on:
    push:
      branches:
        - main

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    permissions:
      contents: read
      packages: write

    name: Run Tests Suite

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - run: go version

      - name: Install dependencies
        run: go mod download

      - name: Verify the dependencies
        run: go mod verify

      - name: Run tests
        run: go test -v ./...

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: tests
    strategy:
      fail-fast: true
    permissions:
      contents: read
      packages: write

    name: Build and Push Docker Image

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build the Docker images
        run: docker compose build plugin-listing

      - name: Login to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Tag the Docker image with GitHub Container Registry
        run: docker tag senither/dalamud-plugin-listing:latest ghcr.io/senither/dalamud-plugin-listing:latest

      - name: Publish the Docker image
        run: docker push ghcr.io/senither/dalamud-plugin-listing:latest
